#content {
  margin-top: 40px;
}

.newtag {
  float: right;
  margin-top: 10px;
}

.comment .author {
  position: relative;
  padding: 11px 0 0 58px;
}

.comment .author .photo {
  position: absolute;
  top: 0;
  left: 0;
}

.comment .meta {
  padding: 0 0 0 58px;
  color: #BFBFBF;
}

.hentry {
  margin: 0 0 30px 0;
}

.hentry .entry-content {
  margin: 0 8px 0 8px;
}

.comment .entry-content {
  padding: 0 8px 0 8px;
  margin: 8px 0 8px 0;
  border-bottom: 1px solid #CCC;
}

.entry .meta {
  color: #404040;
}

.entry-title a {
  color: #404040;
}

.entry-title a:hover {
  text-decoration: none;
}

.rdbWrapper {
  margin-top: 10px;
  float: right;
  width: 155px;
  height: 24px;
  overflow: hidden;
}

#admin_toast {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}

#admin_toast a:hover {
  background: #222;
}

.btn {
  margin: 8px 0 0 0;
  display: block;
}

