<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <!-- scripts -->
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}underscore-min.js"></script>
    <script src="{{ STATIC_URL }}backbone-min.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">Blog Title</a>
          <ul class="nav">
            <li><a href="/feed/">Subscribe</a></li>
          </ul>
          <form class="pull-right" method="GET" action="http://www.google.com/search">
            <input type="text" name="q" maxlength="255" placeholder="Search" />
            <input type="hidden" name="domains" value="{{ request.META.HTTP_HOST }}" />
            <input style="display:none;" type="radio" name="sitesearch" value="{{ request.META.HTTP_HOST }}" checked />
          </form>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>
    <ul id="admin_toast" class="pills">
      <li><a href="/admin/">Admin</a></li>
    </ul>
  </body>
</html>
