{% extends 'blog/base.html' %}

{% load humanize %}
{% load markup %}
{% load gravatar %}
{% load comments %}

{% block content %}
  {% if entry %}
      <div class="hentry">
        <div class="entry-title">
          {% if entry.is_new %}
            <span class="newtag label success">New</span>
          {% endif %}
          <div class="rdbWrapper" data-show-read="1" data-show-send-to-kindle="0" data-show-print="0" data-show-email="0" data-orientation="0" data-version="1" data-bg-color="transparent"></div><script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js";
            s.parentNode.insertBefore(rdb, s); })();</script>
          <h2>{{ entry.title }} <small>{{ entry.created|naturalday }}</small></h2>
        </div>
        <div class="entry-content">
          {{ entry.body|markdown }}
        </div>
        <div class="byline author vcard">
          {% get_comment_count for entry as comment_count %}
          posted by <span class="fn">{{ entry.author.first_name }} {{entry.author.last_name}}</span>
        </div> 
      </div>
      <div class="comment_container">
        {% get_comment_count for entry as comment_count %}
        {% if comment_count > 0 %}
          <h3>{{ comment_count }} Comments</h3>
          {% get_comment_list for entry as comments %}
          {% for comment in comments %}
            <div class="comment hentry">
              <div class="byline author vcard">
                <img class="photo" src="{% gravatar_href comment.user_email %}" />
                <span class="fn n"><a class="url" href="{{ comment.user_url }}" rel="external nofollow">{{ comment.user_name }}</a></span>
              </div>
              <div class="meta">{{ comment.submit_date|naturalday }}</div>
              <div class="entry-content">{{ comment.comment|markdown:"safe" }}</div>
            </div>
          {% endfor %}
        {% endif %}
        <h3>Post a Comment</h3>
        {% get_comment_form for entry as form %}
        <form class="form-stacked" action="{% comment_form_target %}" method="post">
          <fieldset>
            {% csrf_token %}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <div style="display:none"><label for="id_honeypot" />{{ form.honeypot }}</div>
            <label for="id_name">Name</label>{{ form.name }}
            <label for="id_email">Email</label>{{ form.email }}
            <label for="id_url">Web Site</label>{{ form.url }}
            <label for="id_comment">Comment</label>{{ form.comment }}
            <input type="submit" class="btn success" value="Post" />
          </fieldset>
        </form>
      </div>
    </div> 
  {% endif %}
{% endblock content %}
