{% extends 'blog/base.html' %}

{% load humanize %}
{% load markup %}
{% load gravatar %}
{% load comments %}

{% block content %}
  {% if entry %}
    <div class="entry_container">
      <h2 class="title">{{ entry.title }}<small>{{ entry.created|naturalday }}</small></h2>
      <div class="entry">
        {{ entry.body|markdown }}
      </div>
      <div class="comment_container">
        {% get_comment_count for entry as comment_count %}
        <h3>{{ comment_count }} Comments</h3>
        {% get_comment_list for entry as comments %}
        {% for comment in comments %}
          <div class="comment">
            <img class="gravatar" src="{% gravatar_href comment.user_email %}" />
            <h5 class="author"><a href="{{ comment.user_url }}">{{ comment.user_name }}</a><small>{{ comment.submit_date|naturalday }}</small></h5>
            <div class="body">{{ comment.comment|markdown }}</div>
          </div>
        {% endfor %}
        <h3>Post a Comment</h3>
        {% get_comment_form for entry as form %}
        <form class="form-stacked" action="{% comment_form_target %}" method="post">
          <fieldset>
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <div class="actions">
              <input type="submit" class="btn primary" value="Post" />
            </div>
          </fieldset>
        </form>
      </div>
    </div> 
  {% endif %}
{% endblock content %}
