{% extends "blog/base.html" %}

{% load humanize %}
{% load markup %}
{% load comments %}

{% block content %}
  {% if entries %}
    {% for entry in entries %}
      <div class="entry">
        <h2 class="title">{{ entry.title }}<small>{{ entry.created|naturalday }}</small></h2>
        {{ entry.body|markdown }}
        {% get_comment_count for entry as comment_count %}
        <div><a href="/{{ entry.slug }}">{{ comment_count }} Comments</a></div>
      </div> 
    {% endfor %}
  {% endif %}
{% endblock content %}
