{% extends "blog/base.html" %}

{% load humanize %}
{% load markup %}
{% load comments %}

{% block content %}
  {% if entry_page.object_list %}
    {% for entry in entry_page.object_list %}
      <div class="hentry">
        <div class="entry-title">
          {% if entry.is_new %}
            <span class="newtag label success">New</span>
          {% endif %}
          <h2><a href="/{{ entry.slug }}">{{ entry.title }}</a> <small>{{ entry.created|naturalday }}</small></h2>
        </div>
        <div class="entry-content">
          {{ entry.body|markdown }}
        </div>
        <div class="byline author vcard">
          {% get_comment_count for entry as comment_count %}
          posted by <span class="fn">{{ entry.author.first_name }} {{entry.author.last_name}}</span> | <a href="/{{ entry.slug }}">{{ comment_count }} Comments</a>
        </div> 
      </div>
    {% endfor %}
  {% endif %}
  {% if entry_page.has_other_pages %}
    <div class="pagination">
      <ul>
        <li class="prev {% if not entry_page.has_previous %}disabled{% endif %}"><a href="?page={{ entry_page.previous_page_number }}">&larr; Previous</a></li>
        {% for page_num in page_range %}
          <li {% if page_num = current_page %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endfor %}
        <li class="next {% if not entry_page.has_next %}disabled{% endif %}"><a href="?page={{ entry_page.next_page_number  }}">Next &rarr;</a></li>
      </ul>
    </div>
  {% endif %}
{% endblock content %}
